<div class="grid justify-center mt-[40px]">
    
        <!-- search field -->
        <div class=" bg-white rounded-md shadow-xl md:w-[1200px] p-4 h-auto">
          <div class="mt-[20px] grid justify-center">
            <input
              placeholder="Search name or username"
              class="w-[400px] h-[50px] px-6 rounded-full border-2 border-slate-400 bg-slate-200" 
              [formControl]="searchItem"
              type="text" />
          </div>

        <!-- doctors table -->
          <table class="w-[1200px] border-r-2 mt-[30px]">
            <tr class="grid grid-cols-6 text-center border-r-2">
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Phone</th>
              <th>City</th>
              <th>Website</th>
            </tr>
            <tr class="grid grid-cols-6 text-center" *ngFor="let doctor of this?.handleFilter()">
              <td class="mt-3 border-r-2">
                {{doctor.name}}
              </td>
              <td class="mt-3 border-r-2">
                {{doctor.username}}
              </td>
              <td class="mt-3 border-r-2">
                {{doctor.email}}
              </td>
              <td class="mt-3 border-r-2">
                {{doctor.phone}}
              </td>
              <td class="mt-3 border-r-2">
                {{doctor.city? doctor.city : doctor.address?.city}}
              </td>
              <td class="mt-3 border-r-2">
                {{doctor.website}}
              </td>
            </tr>
          </table>
        </div>
</div>
